REACT_APP_API_BASE_URL='http://localhost:5000'
REACT_APP_FIREBASE_API_KEY='AIzaSyBTMlmquV6yW7bMSkPk4cETVqKsUK_aEjY'
REACT_APP_FIREBASE_AUTH_DOMAIN='gssoc-passop.firebaseapp.com'
REACT_APP_FIREBASE_PROJECT_ID='gssoc-passop'
REACT_APP_FIREBASE_STORAGE_BUCKET='gssoc-passop.firebasestorage.app'
REACT_APP_FIREBASE_MESSAGING_SENDER_ID='596205653550'
REACT_APP_FIREBASE_APP_ID='1:596205653550:web:9af96a57fdf1c3609399bf'
REACT_APP_FIREBASE_MEASUREMENT_ID='G-812J1WK5X0'